startup_commands                            toggle_dark_mode;toggle_horizontal_scroll_lock;toggle_smooth_scroll_mode

inverse_search_command                      "/usr/bin/code" "opt/visual-studio-code/resources/app/out/cli.js" --ms-enable-electron-run-as-node -r -g "%1:%2"

should_launch_new_window                    1

create_table_of_contents_if_not_exists      1
collapsed_toc                               1
max_created_toc_size                        2000

super_fast_search                           1

should_draw_unrendered_pages                1
prerender_next_page_presentation            1

sort_bookmarks_by_location                  1

single_click_selects_words                  1

search_url_g	                            https://www.google.com/search?q= 
search_url_h	                            https://scholar.google.com/scholar?q=
search_url_s	                            https://sci-hub.se/
search_url_l                                http://libgen.rs/search.php?req=
search_url_a                                https://arxiv.org/search/?query=
search_url_w                                https://en.wikipedia.org/wiki/
search_url_n                                https://ncatlab.org/nlab/search?query=

background_color	   	                      0.00392 0.08627 0.15294
dark_mode_background_color                  0.00392 0.08627 0.15294
dark_mode_contrast		                      0.8

text_highlight_color                        1.0 1.0 0.0
visual_mark_color  		                      0.15686 0.16471 0.21176 0.8

search_highlight_color		                  0.94510 0.98039 0.54902
link_highlight_color 		                    0.38431 0.44706 0.64314
synctex_highlight_color		                  0.31373 0.98039 0.48235

custom_background_color 	                  0.00392 0.08627 0.15294
custom_text_color		                        0.37254 0.49412 0.59216

ui_text_color 			                        0.37254 0.49412 0.59216
ui_background_color 		                    0.00392 0.08627 0.15294
ui_selected_text_color 		                  0.94510 0.98039 0.54902
ui_selected_background_color 	              0.26667 0.27843 0.35294
